<body>
<div class="container">
  <form id="complaint_form" class="form">
    <div class="input-field">
      <label for="subject">Тема</label>
      <input type="text" placeholder="Тема обращения" id="subject" name="subject">
    </div>
    <div class="input-field">
      <label for="complaint">Описание</label>
      <textarea id="complaint" name="complaint" form="complaint_form"></textarea>
    </div>
    <div class="action">
      <button id="btn" class="btn">Отправить</button>
    </div>
  </form>
</div>
</body>
