<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<!--<mat-card>-->
  <div style="width: 225px; height: 367px;" class="card">
    <!--assets/man.png if null to do-->
    <div class="card-image">
      <img src="{{psychologist.avatarUrl ? psychologist.avatarUrl : 'assets/man.png'}}">
    </div>
    <p style="text-align: center; size: 12px; height: 40px;     font-size: 20px;" class="card-title">
      Dr. {{psychologist.firstName}} {{psychologist.lastName}}</p>
    <div class="card-content">
      <span>Mobile:</span><a href="tel:{{psychologist.mobile}}">{{psychologist.mobile}}</a>
<!--      <p>Tags:</p>-->
<!--      <p>-->
<!--        <mat-chip-list-->
<!--          class="example-chip">-->
<!--          <mat-chip-->
<!--            class="example-box"-->
<!--            disabled-->
<!--            *ngFor="let tag of psychologist.tags">-->
<!--            {{tag.name}}-->
<!--          </mat-chip>-->
<!--        </mat-chip-list>-->
<!--      </p>-->
    </div>
    <div class="card-action">
      <a routerLink="/appointment/{{psychologist.id}}">Запись</a>
      <a style="float: right" routerLink="/profile/{{psychologist.id}}">Профиль</a>
    </div>
  </div>
<!--</mat-card>-->
