<nb-card>
  <nb-card-header>
    <div class="row no-gutters align-items-center" *ngIf="currentUser">
      <div class="col-auto">
        <img src="{{currentUser.avatarUrl}}" class="img-fluid rounded-circle" width="50px" appImgFallback/>
      </div>
      <div class="col">
        <h6 class="pl-3 pr-3">{{currentUser.firstName}}</h6>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <input nbInput fullWidth name="search" placeholder="Search">
  </nb-card-body>
<!--  <nb-list>-->
<!--    <nb-list-item *ngFor="let friend of friends | async" (click)="chatClicked(friend.id)">-->
<!--      <nb-user [name]="friend.name" [title]="friend.lastMsg" [picture]="friend.imgUrl">-->
<!--      </nb-user>-->
<!--    </nb-list-item>-->
<!--  </nb-list>-->
</nb-card>
