<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>О нас</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="top">О нас</h1>
<h1>Shrink - сервис подбора проверенных психотерапевтов</h1>
<p style="text-align: center;">Наша миссия — сделать психотерапию понятной для каждого и убрать барьеры перед обращением за психологической помощью</p>
<div class="container">
  <img src="assets/you-are-amazing.png" alt="">
</div>
<h1 class="top" style="margin-bottom: 30px;">Какие действия приближают нас к этой миссии</h1>
<div class="cards-list">
  <div class="card 1">
    <div class="card_image"> <img src="assets/1.jpeg" /> </div>
    <div class="card_title title-white">
      <p>Сотрудничество с проверенными специалистами</p>
    </div>
  </div>
  <div class="card 2">
    <div class="card_image">
      <img src="assets/2.jpeg" />
    </div>
    <div class="card_title title-white">
      <p>Удобный сервис подбора психотерапевта</p>
    </div>
  </div>
  <div class="card 3">
    <div class="card_image">
      <img src="assets/3.jpeg" />
    </div>
    <div class="card_title title-white">
      <p>Хорошее качество видеосвязи</p>
    </div>
  </div>
  <div class="card 4">
    <div class="card_image">
      <img src="assets/ps.jpeg" />
    </div>
    <div class="card_title title-white">
      <p>Анализ обратной связи</p>
    </div>
  </div>
</div>
<h1 style="margin-bottom: 30px;">Культурные принципы Shrink</h1>
<div class="container1">
  <div class="col" style="display:inline-block; margin: 30px;">
    <img src="assets/11.svg" style="width: 100px;">
    <h3>Мы принимаем решения из любви к клиентам и психотерапевтам</h3>
    <p>Мы считаем очень важным дать нашим клиентам ощущение, что они не одни на своём пути в психотерапии, а психотерапевтам почувствовать, что Мета заботится о них так же, как об их будущих клиентах.</p>
    <h3>Умно используем ресурсы</h3>
    <p>Мы очень аккуратно тратим деньги и доступные ресурсы, так как их у нас немного. Вместо того, чтобы ввязываться в дорогую разработку, мы тщательно проектируем и урезаем функциональность.</p>
  </div>
  <div class="col" style="display:inline-block; margin: 30px;">
    <img src="assets/22.svg" style="width: 70px;">
    <h3>Создаём ценность</h3>
    <p>Мы идём к клиентам и спрашиваем: «какие у вас есть потребности?» , а потом создаём продукт, который их решит.</p>
    <h3>Считаем обучение важной частью работы</h3>
    <p>Мы нанимаем ребят без опыта, а это значит, что нужно очень быстро учиться. 10% рабочего времени (4 из 40 рабочих часов) мы тратим на обучение. Мета его оплачивает.</p>
  </div>
  <div class="col" style="display:inline-block; margin: 30px;">
    <img src="assets/33.svg" style="width: 70px;">
    <h3>Достигаем результата</h3>
    <p>В процессе работы над продуктом очень легко потерять фокус с главного, закопаться в деталях и делать ненужное. Поэтому мы постоянно держим в фокусе, что сырой продукт, который даёт ценность сейчас, лучше, чем идеальный продукт через полгода.</p>
    <h3>Ошибаемся. И верим, что это классно!</h3>
    <p>Единственный способ создать ценность — проверять много гипотез. Бóльшая часть гипотез не подтверждается, а это значит, что мы будем часто ошибаться. Ошиблись — порадовались, что мы нашли неработающий способ, исправили, научились и побежали дальше.</p>
  </div>
</div>
<H1>Делаем безопасную эффективную терапию доступной каждому!</H1>
<div class="container">
  <img src="assets/41.png" alt="">
</div>
</body>
</html>
