<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<div class="col s3">
  <div class="card">
    <div class="card-image">
      <img src="assets/man.png">
    </div>
    <p style="text-align: center" class="card-title">Herman Samolazov</p>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aperiam expedita, fugiat, harum inventore itaque iure non obcaecati perferendis possimus temporibus vel velit? Cumque ipsum itaque odit quam quasi.</p>
    </div>
    <div class="card-action">
      <a routerLink="/appointment">Запись на приём</a>
    </div>
  </div>
</div>
