<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<!--  <link rel="stylesheet" href="style.css">-->
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<div [ngClass]="{'disabled' : user.deactivated}">
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="profile-card-4 z-depth-3">
        <div class="card">
          <div class="card-body text-center bg-primary rounded-top">
            <div class="user-box">
              <img style="max-height: 100%; max-width: 100%;  border-radius: 50% !important;height: 100px !important;  width: 100px !important; overflow: hidden !important; display: flex !important; justify-content: center !important; align-items: center !important;" src="{{user.avatarUrl ? user.avatarUrl : 'assets/man.png'}}">
            </div>
            <h5 class="mb-1 text-white">{{user.firstName}} {{user.middleName}} {{user.lastName}}</h5>
            <h6 class="text-light"></h6>
          </div>
          <div class="card-body">
            <ul class="list-group shadow-none">
              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fa fa-phone-square"></i>
                </div>
                <div class="list-details">
                  <span *ngIf="userService.isClient(this.user)">Клиент</span>
                  <span *ngIf="!userService.isClient(this.user)">Психотерапевт</span>
                  <small>Роль</small>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="list-details">
                  <span>{{user.email}}</span>
                  <small>Электронная почта</small>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fa fa-globe"></i>
                </div>
                <div class="list-details">
                  <span>{{user.registerDate}}</span>
                  <small>Дата регистрации</small>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer text-center">
            <a href="javascript:void(0)" class="btn-social btn-facebook waves-effect waves-light m-1"><i class="fa fa-facebook"></i></a>
            <a href="javascript:void(0)" class="btn-social btn-google-plus waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
            <a href="javascript:void(0)" class="list-inline-item btn-social btn-behance waves-effect waves-light"><i class="fa fa-behance"></i></a>
            <a href="javascript:void(0)" class="list-inline-item btn-social btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card z-depth-3">
        <div class="card-body">
          <ul class="nav nav-pills nav-pills-primary nav-justified">
            <li class="nav-item">
              <a href="javascript:void(0);" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Профиль</span></a>
            </li>
            <li class="nav-item" *ngIf="userService.isPsychologist(user)">
              <a href="javascript:void(0);" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Рабочее время</span></a>
            </li>
            <li class="nav-item" *ngIf="isActiveUserProfile">
              <a href="javascript:void(0);" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Редактирование</span></a>
            </li>
          </ul>
          <div class="tab-content p-3">
            <div class="tab-pane active show" id="profile">
              <div class="row">
                <div class="col-md-6">
<!--                  <h6>About</h6>-->
                </div>
                <div class="col-md-12">
<!--                  <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>-->
                  <app-appointment-dashboard [user]="user"></app-appointment-dashboard>
                </div>
              </div>
              <!--/row-->
            </div>
            <div class="tab-pane" id="messages" *ngIf="isPsycho">
              <app-psycho-workday></app-psycho-workday>
            </div>
            <div class="tab-pane" id="edit" *ngIf="isActiveUserProfile">
              <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Имя</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="{{user.firstName}}" formControlName="firstName">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Отчество</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="{{user.lastName}}" formControlName="lastName">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Фамилия</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="{{user.middleName}}" formControlName="middleName">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Email</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="email" value="{{user.email}}" formControlName="email">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Изменить фотографию аватарки</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="file" (change)="onFileChange($event.target.files)" formControlName="file">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label" >Пароль</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="password" value="11111122333" formControlName="password">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label" >Повторите пароль</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="password" value="11111122333" formControlName="repeatPassword">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label">Адрес</label>
                  <div class="col-lg-9">
                    <input class="form-control" type="text" value="" placeholder="Oginskogo 17">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 col-form-label form-control-label"></label>
                  <div class="col-lg-9">
                    <input type="reset" class="btn btn-secondary" value="Отменить">
                    <input type="submit" class="btn btn-primary" value="Схранить">
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</body>
</html>
