<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
  <title>Shrink</title>
</head>
<body>

<div class="registration">
  <div>
    <h1>Онлайн помощь высококвалифицированных психотерапевтов</h1>
    <button mat-stroked-button routerLink="/registration-c">Регистрация как клиент</button>
    <button mat-stroked-button routerLink="/registration-p">Регистрация как психотерапевт</button>
  </div>
  <div>
    <img src="assets/man.png">
  </div>
</div>
<div class="general_info">
  <img src="assets/group.png">
</div>
</body>
</html>
