<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button routerLink="/blog" mat-button>
      <mat-icon>article</mat-icon>
      Блог
    </button>
    <button mat-button routerLink="/about" >
      <mat-icon>lightbulb</mat-icon>
      О нас
    </button>
    <button mat-button routerLink="/catalog">
      <mat-icon>medication</mat-icon>
      Специалисты
    </button>

    <button mat-button routerLink="/admin" *ngIf="isAuthenticated && isAdmin">
      <mat-icon>payments</mat-icon>
      Пользователи
    </button>
    <button mat-button routerLink="/admin-p" *ngIf="isAuthenticated && isAdmin">
      <mat-icon>payments</mat-icon>
      Психологи
    </button>

    <button mat-button routerLink="/signin" *ngIf="!isAuthenticated">
      <mat-icon>how_to_reg</mat-icon>
      Вход
    </button>
    <button mat-button routerLink="/profile/{{getCurrentUserId()}}" *ngIf="isAuthenticated">
      <mat-icon>person</mat-icon>
      Профиль
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Выход
    </button>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
