<body class="container">
<div>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="h4 text-center mt-3">Вход</div>

        <mat-form-field appearance="standard" style="width: 100%">
          <mat-label>Электронная почта</mat-label>
          <mat-icon matSuffix>email</mat-icon>
          <input matInput placeholder="example@mail.ru" formControlName="email" required>
          <mat-error>
            Введите правильный email адрес
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100%">
          <mat-label>Пароль</mat-label>
          <mat-icon matSuffix>vpn_key</mat-icon>
          <input matInput placeholder="****" formControlName="password" required type="password">
          <mat-error>
            Введите правильный пароль
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100%">
          <mat-label>Фамилия</mat-label>
          <mat-icon matSuffix>badge</mat-icon>
          <input matInput placeholder="Ilya" formControlName="middleName" required>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100%">
          <mat-label>Имя</mat-label>
          <mat-icon matSuffix>badge</mat-icon>
          <input matInput placeholder="Aliakseyeu" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 100%">
          <mat-label>Отчество</mat-label>
          <mat-icon matSuffix>badge</mat-icon>
          <input matInput placeholder="Aleksandrovich" formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Дата рождения</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Фотография</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="avatar">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary">Зарегистрироваться</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</body>
