<h3 style="text-align: center">Наши специалисты</h3>
<mat-chip-list
  class="example-chip">
  <mat-chip
    class="example-box"
    *ngFor="let psychologistTag of psychologistTags" [class.mat-chip-selected]="psychologistTag.selected"
    (click)="changeSelected(psychologistTag)">
    {{psychologistTag.name}}
  </mat-chip>
</mat-chip-list>
<div class="row">
    <app-psycho-card style="padding-right: 20px" *ngFor="let psychologist of psychologists"
    [psychologist]="psychologist"></app-psycho-card>
</div>
