<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "108224298160603");
  chatbox.setAttribute("attribution", "biz_inbox");
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v11.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<h3 style="text-align: center">Наши специалисты</h3>
<mat-chip-list
  class="example-chip">
  <mat-chip
    class="example-box"
    *ngFor="let psychologistTag of psychologistTags" [class.mat-chip-selected]="psychologistTag.selected"
    (click)="datePickerForm.valid ? searchPsychos(psychologistTag) : changeSelected(psychologistTag)">
    {{psychologistTag.name}}
  </mat-chip>

</mat-chip-list>
<form [formGroup]="datePickerForm">
  <h3 style="text-align: center">Выберите дату и часы посещения</h3>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Дата посещения</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <input type="time" (click)="openStart()" value="{{selectedStartTime}}" style="width: 10%">
  <input type="time" (click)="openEnd()" value="{{selectedEndTime}}" style="width: 10%; margin-left: 1%">
  <button mat-raised-button color="primary" (click)="searchPsychos(null)">Найти</button>
  <button mat-raised-button color="primary" (click)="reset()">Сброс</button>
</form>
<div class="row">
  <app-psycho-card style="padding-right: 20px;" *ngFor="let psychologist of psychologists"
                   [psychologist]="psychologist"></app-psycho-card>
</div>
